before_build:
  - nuget restore
build_script:
  - msbuild libimobiledevice.vcxproj /p:Configuration=Debug /p:Platform=Win32 /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
  - msbuild libimobiledevice.vcxproj /p:Configuration=Release /p:Platform=Win32 /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
  - msbuild libimobiledevice.vcxproj /p:Configuration=Debug /p:Platform=x64 /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
  - msbuild libimobiledevice.vcxproj /p:Configuration=Release /p:Platform=x64 /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

on_success:
  - cmd: choco install coapp
  - ps: .\CreateNuGetPackage.ps1
  - cmd: appveyor PushArtifact libimobiledevice.1.2.0.nupkg
  - cmd: appveyor PushArtifact libimobiledevice.symbols.1.2.0.nupkg
  - cmd: appveyor PushArtifact libimobiledevice.redist.1.2.0.nupkg

nuget:
  project_feed: true
  account_feed: true
